<!-- Carousel content -->
<div class="text-center white-text mx-5 wow fadeIn">
    <h1 class="mb-4">
      <strong> Get FAST quotation for a new windows </strong>
    </h1>

    <p>
      <strong>You choose what windows you need</strong>
    </p>

    <p class="mb-4 d-none d-md-block">
      <strong>Choose window type -> set dimensions -> pick glass type -> choose additional elements -> get quotation! </strong>
    </p>

    <a href="./projects_page" class="btn btn-outline-white btn-lg">Go to your projects</a>
  </div>
  <!-- Carousel content -->