{% load static %}

<div class="container">
  <div class="row my-2 py-2 border border-light rounded">
    <div class="col-md-auto">
      <img src="{% static 'img/jpg/project.jpg' %}" style="height: 100px" class="img-fluid" alt="Responsive image">   
    </div>

    <div class="col-sm border-left border-right d-flex align-items-stretch">
      <a class="d-flex justify-content-center align-items-center" style="width: 100%" href="{{ project.get_absolute_url }}">
        <h5 class="font-weight-bold">{{ project.name | title }} Project</h5>
      </a>
    </div>

    <div class="col-md-auto d-flex justify-content-center align-items-center border-right">
      <strong class="text-danger font-weight-bold">Total price: <br> ${{ project.price }}</strong>
    </div>

    <div class="col-md-auto d-flex justify-content-center align-items-center">
        <a href="{{ project.get_update_url }}" class="btn btn-sm btn-danger ">UPDATE</a>
    </div>

  </div>
</div>
