{% load static %}

<div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <!--Card image-->
      <div class="view overlay">
        <img src="{% static 'img/jpg/fix.jpg' %}" class="card-img-top" alt="">
        <div class="card-img-overlay">
          <a href="{{ project.get_update_url }}" class="btn btn-lg btn-danger p-1 pl-2 pr-2 float-right ">UPDATE</a>
        </div>
      </div>
      <!--Card image-->
      <!--Card content-->
      <a href="{{ project.get_absolute_url }}">
        <div class="card-body text-center bg-light ">
        <!--Category & Title-->
          <h4 class="mb-0 pb-0">{{ project.name | title }}</h4> 
          <h4 class="font-weight-bold blue-text pt-3">
            <strong>${{ project.price }}</strong>
          </h4> 
        </div>
      </a>
      <!--Card content-->

    </div> 
</div>