{% extends "base.html" %}
{% load static %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          {% if construction.category == "FW" %}
          <img src="{% static 'img/jpg/fix.jpg' %}" class="card-img-top" alt="">
          {% elif construction.category == "CW" %}
          <img src="{% static 'img/jpg/casement.jpg' %}" class="card-img-top" alt="">
          {% elif construction.category == "SW" %}
          <img src="{% static 'img/jpg/sliding.jpg' %}" class="card-img-top" alt="">
          {% endif %}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--Content-->
          <div class="p-4 h-100">
            <div >
              <h1> Details: </h1>
              <ul>
                <li><h3>Reference: "{{construction.reference_name}}"</h3></li>
                <li><h3> Widht: {{construction.width}} mm </h3></li>
                <li><h3> Height: {{construction.height}} mm </h3></li>
                <li><h3> Color: {{construction.color}} </h3></li>
              </ul>
            </div>          
            <div >
              <a href="{{ construction.get_absolute_url }}" class="btn btn-lg btn-danger">
                <h4 class="mb-0 font-weight-bold">
                  UPDATE
                </h4>
              </a>
            </div>
          </div>
          <!--Content-->
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

    </div>
  </main>

{% endblock content %}
